body
{
    background-color: #FBFBFB;
}

h1
{
    font-family: 'Pacifico', cursive;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding-top: 16px;
    padding-bottom: 15px;
    text-align: center;
}

header a,
footer a
{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Orbitron', cursive;
}

header a:hover,
footer a:hover
{
    font-size: 20px;
}

header a:visited,
footer a:visited
{
    color: white;
}

div.mainContainer
{
    width: 70%;
    text-align: center;
    color: #7E7E7E;

    position: absolute;
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
    background-color: black;
    /* Font */
    text-align: center;
}

div.devLinks
{
    margin-top: 5px;
}

footer h2
{
    color: white;
    font-family: 'Pacifico', cursive;
}