div.mainContainer
{
    top: 30%;
    left: 12%;
}

div.imageContainer
{
    margin-left: 25%;
    margin-right: 10px;
    width: 15%;
    display: inline-block;
}

img
{
    height: 20%;
}

a
{
    text-decoration: none;
}

p
{
    color: #7E7E7E;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}