body
{
    background-color: #FBFBFB;
}

h1
{
    font-family: 'Pacifico', cursive;
}

header.navigationContainer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding-top: 16px;
    padding-bottom: 15px;
    text-align: center;
}

header.navigationContainer a,
footer a
{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Orbitron', cursive;
}

header.navigationContainer a:hover,
footer a:hover
{
    font-size: 20px;
}

header.navigationContainer a:visited,
footer a:visited
{
    color: white;
}

div.mainContainer
{
    width: 70%;
    text-align: center;
    color: #7E7E7E;

    position: absolute;
    top: 45%;
    left: 16%;
}

span.woah:hover
{
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {color: #7E7E7E;}
    to {color: yellow; font-size: 20px;}
}

/* Standard syntax */
@keyframes example {
    from {color: #7E7E7E;}
    to {color: yellow;}
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
    background-color: black;
    /* Font */
    text-align: center;
}

div.devLinks
{
    margin-top: 5px;
}

footer h2
{
    color: white;
    font-family: 'Pacifico', cursive;
}